// Sizes
$baseWidth:   1024px;
$stepHeight:  579px;

// Colour variables
$dark:        #292a2d;
$light:       #fffaeb;
$light1:      #adaba5;
$light2:      #918c81;
$darkColor:   #004358;
$mediumColor: #1f8a70;
$lightColor:  #bedb39;
$yellowColor: #ffe11a;
$orangeColor: #fd7400;

$step1Color:  $orangeColor;
$step2Color:  $lightColor;
$step3Color:  $mediumColor;

// Fonts
$sansSerif:   'Raleway', sans-serif;
