.settings {
    padding: 10px 20px;
    border: 1px solid #333333;
}

.settingsVisible {
    display: none;
}

#calendar {
    margin-top: 24px;
}

.view-exam {
    border-bottom: 1px solid $light1;
    padding-top: 16px;

    h3 {
        margin-top: 0;
    }
}

    .view-exam-slider {
        height: 2.3125rem;
    }

    .view-exam-taskList {
        margin-left: 0;
        list-style: none;

        li {
            height: 27px;
            border-top: 1px solid #cccccc;

            &:first-child {
                border: none;
            }
        }

        label {
            width: 89%;

            a {
                position:absolute;
                right: 0;
            }

            i {
                margin-left: 10px;
            }
        }
    }

    .timeline {
        position: absolute;
        left: 59px;
        border: none;
        border-top: 1px solid red;
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 999;
    }
