@import "settings"; // Foundation settings
@import "foundation";

@import "vars";
@import "glyphicons";

// View-specific imports
@import "view";

body {
    background: #fafafa;
    color: $dark;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-size: 18px;
    // -webkit-text-stroke: 0.5px;
    color: #333;
}
h1 {
    font-size: 1.8em;
}

button.delete,
.button.delete {
    background-color: $darkColor;
    border-color: $darkColor;
    color: white;
}



.dates-setup .examTitle {
    padding-top: 10px;
}

