@import "settings"; // Foundation settings
@import "foundation";

@import "vars";
@import "glyphicons";

// View-specific imports
@import "view";

body {
    background: #fafafa;
    color: $dark;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-size: 18px;
    // -webkit-text-stroke: 0.5px;
    color: #333;
}
h1 {
    font-size: 1.8em;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.container {
    padding-top: 56px;
}

button.delete,
.button.delete {
    background-color: $darkColor;
    border-color: $darkColor;
    color: white;
}


// Navbar styles
.settingsToggle {
    position: absolute;
    right: 40px;
    top: 0;
    &.active > a {
        background: #008cba;
        color: white;
    }
    a {
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem !important;
        font-weight: bold;
        position: relative;
        display: block;
        padding: 0 15px;
        height: 45px;
        line-height: 45px;
    }
}
.toggle-topbar a{
    font-size: 1.2rem !important;
}
.settingsToggle-right {
    display: none;
    a {
        font-size: 1.2rem !important;
    }
}
@media screen and (min-width: 641px) {
    .settingsToggle {
        display: none;
    }
    .settingsToggle-right {
        display: list-item;
    }
}


.dates-setup .examTitle {
    padding-top: 10px;
}


.strike {
    text-decoration: line-through;
}
.red {
    color: red;
}
