@import "settings"; // Foundation settings
@import "foundation";

@import "vars";
// @import "calendar";
@import "glyphicons";

body {
    background: #fafafa;
    color: $dark;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-size: 18px;
    // -webkit-text-stroke: 0.5px;
    color: #333;
}
h1 {
    font-size: 1.8em;
}

button.delete,
.button.delete {
    background-color: $darkColor;
    border-color: $darkColor;
    color: white;
}


// TODO: Put these in an import

.view-exam-group {
    border-bottom: 1px solid $light1;
    padding-top: 16px;
}

input[type="range"] {
    height: 2.3125rem;
}
