<div>
    <div class="row collapse">
        <div class="large-4 small-12 columns">
            <img class="logo" src="images/logo.png" alt="SmartRevise Logo">
        </div>
        <div class="large-8 small-12 columns">
            <h1>Welcome to SmartRevise!</h1>
            <h4>This is an application that creates revision plans tailored for your exam schedule.</h4>
            <p>Simply click the "Create New Plan" button bellow, enter the subjects and dates of your next exam diet and get your dynamic SmartRevise plan!</p>
        </div>
    </div>

    <div class="row collapse">
        <a href="/setup" class="button success small-12 large-5 columns">Create New Plan</a>

        <a ng-hide="currentUser" href="/login" class="button large-offset-2 large-5 small-12 columns">Log In</a>
        <a ng-show="currentUser" href="/view" class="button large-offset-2 large-5 small-12 columns">My SmartRevise plan</a>

    </div>

    <hr>
    <p>This application was created by Georgi Koshov for his Honours Project at the University of Edinburgh.</p>
    <p>Georgi is available on <a href="mailto:g.koshov@sms.ed.ac.uk">email</a>, <a href="http://plus.google.com/+GeorgiKoshov/" target="_blank">Google+</a> and <a href="http://uk.linkedin.com/in/koshov/" target="_blank">LinkedIn</a>.</p>
</div>
