<h1>SmartRevise setup</h1>
<form name="setupForm">

    <!-- Exams -->
    <div class="dates-setup">
        <h4>Please specify your revision subjects</h4>

        <div ng-repeat="exam in exams" class="row collapse">
            <span class="small-6 columns">{{exam.title}}</span>
            <button href="" data-dropdown="drop" class="tiny small-3 columns">{{exam.date || "Select Exam Date"}}</button>
                <div id="drop" data-dropdown-content class="f-dropdown">
                    <datetimepicker ng-model="exam.date"></datetimepicker>
                </div>
            <button class="tiny alert small-2 small-offset-1 columns" ng-click="$parent.removeExam($index)"><i class="fi-x small"></i> Delete</button>

        </div>

        <form name="addExamForm">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" ng-model="examName" placeholder="e.g. History of Art 101" name="examName" required>
                </div>
                <div class="small-2 columns">
                    <button class="button success prefix" ng-disabled="setupForm.examName.$invalid" ng-click="addExam()"><i class="fi-plus small"></i> Add</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Navigation -->
    <div class="row collapse">
        <button class="button success small-5 small-offset-7 column" ng-disabled="step.invalid()" ng-click="nextStep()">Next</button>
    </div>
</form>


<!-- UnderscoreJS Clndr template -->
<script type="text/html" id='clndr-template'>
    <div class="clndr-controls">
      <div class="clndr-previous-button">&lsaquo;</div>
      <div class="clndr-month"><%= month %></div>
      <div class="clndr-next-button">&rsaquo;</div>
    </div>
    <div class="clndr-grid">
      <div class="days-of-the-week">
        <% _.each(daysOfTheWeek, function(day) { %><div class="header-day"><%= day %></div><% }); %>
        <div class="days">
          <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
        </div>
      </div>
    </div>
</script>
<!-- end of template -->
