<div ng-include="'partials/navbar'"></div>

<h1>SmartRevise setup</h1>
<form name="setupForm">

    <!-- Exams -->
    <div class="dates-setup">
        <h4>Please specify your revision subjects</h4>

        <div ng-repeat="exam in exams" class="row collapse">
            <span class="examTitle small-5 columns">{{exam.title}}</span>
            <div class="small-4 columns">
                <button href="" data-dropdown="{{'drop'+$index}}" id="{{'dropButton'+$index}}" class="prefix secondary dropButton">
                    <span ng-show="$parent.hasDate($index)"><i class="fi-calendar"></i> Exam Date</span>
                    {{exam.date}}
                </button>
                <datetimepicker data-dropdown-content class="f-dropdown" id="{{'drop'+$index}}" ng-model="exam.date" data-datetimepicker-config="{ dropdownSelector: '.dropButton' }"></datetimepicker>
                <script type="text/javascript">
                    $(document).foundation();
                </script>
            </div>
            <div class="small-3 columns">
                <button class="prefix alert" ng-click="$parent.removeExam($index)"><i class="fi-x"></i> Delete</button>
            </div>

        </div>

        <form name="addExamForm">
            <div class="row collapse">
                <div class="small-9 columns">
                    <input type="text" ng-model="examName" placeholder="e.g. History of Art 101" name="examName" required>
                </div>
                <div class="small-3 columns">
                    <button class="button success prefix" ng-disabled="examInvalid()" ng-click="addExam()"><i class="fi-plus small"></i> Add</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Navigation -->
    <div class="row collapse">
        <button class="button success small-5 small-offset-7 column" ng-disabled="setupInvalid()" ng-click="nextStep()">Next</button>
    </div>
</form>


