<h1>SmartRevise setup</h1>
<form name="setupForm">

    <!-- Dates step -->
    <div ng-controller="DatesCtrl" class="dates-setup" ng-show="steps[currentStep].name == 'dates'">
        <h4>Please specify your revision period</h4>

        <input class="calendar-input" type="text" name="clndr-start" placeholder="My revision will start on..." ng-model="revisionStart" focus required>
        <input class="calendar-input" type="text" name="clndr-end" placeholder="And the end-party will be on..." ng-model="revisionEnd" required>

        <span>{{revisionStart}}</span>
        <span>{{revisionEnd}}</span>

        <div class="clndr-holder-start"></div>
        <div class="clndr-holder-end"></div>
    </div>

    <!-- Exams step -->
    <div ng-controller="ExamsCtrl" ng-show="steps[currentStep].name == 'exams'">
        <h4>Please specify your revision subjects</h4>

        <div ng-repeat="exam in exams" class="row collapse">
            <span class="small-10 columns">{{exam.name}}</span>
            <button class="tiny small-2 columns" ng-click="$parent.removeExam($index)">Delete</button>
        </div>

        <form name="addExamForm">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" ng-model="examName" placeholder="e.g. History of Art 101" name="examName" required>
                </div>
                <div class="small-2 columns">
                    <button class="button success prefix" ng-disabled="setupForm.examName.$invalid" ng-click="addExam()"><i class="fi-plus small"></i> Add</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Navigation -->
    <div class="row collapse">
        <button class="button secondary small-5 column" ng-disabled="currentStep == 0" ng-click="prevStep()">Back</button>
        <button class="button success small-5 small-offset-2 column" ng-disabled="steps[currentStep].invalid" ng-click="nextStep()">Next</button>
    </div>
</form>


<!-- UnderscoreJS Clndr template -->
<script type="text/html" id='clndr-template'>
    <div class="clndr-controls">
      <div class="clndr-previous-button">&lsaquo;</div>
      <div class="clndr-month"><%= month %></div>
      <div class="clndr-next-button">&rsaquo;</div>
    </div>
    <div class="clndr-grid">
      <div class="days-of-the-week">
        <% _.each(daysOfTheWeek, function(day) { %><div class="header-day"><%= day %></div><% }); %>
        <div class="days">
          <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
        </div>
      </div>
    </div>
</script>
<!-- end of template -->
