<fullclndr sr-exams="exams" sr-dates="dates"></fullclndr>
<div ng-repeat="exam in exams" class="row collapse view-exam-group">
    <div class="small-12 large-6 columns">
        <div class="row collapse">
            <h3 class="small-10 columns">{{ exam.title }}</h3>
            <button class="tiny delete small-2 columns" ng-click="removeExam($index)"><i class="fi-trash small"></i> Delete</button>
        </div>
        <div class="row collapse">
            <div class="small-9 columns">
                <input class="small-10 small-offset-1 columns" type="range" name="portion" min="0" max="100" ng-model="exam.portion" ng-change="$parent.repartition($index)">
            </div>
            <div class="small-2 columns">
                <input type="text" placeholder="percent" ng-model="exam.portion" ng-change="$parent.repartition($index)">
            </div>
            <div class="small-1 columns">
                <span class="postfix">%</span>
            </div>
        </div>
    </div>
    <div class="small-12 large-5 large-offset-1 columns">
        <div class="view-exam-components">
            <ul>
                <li ng-repeat="component in exam.components">
                    <span class="">{{component.name}}</span>
                    <i class="fi-trash small"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
