<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Your SmartRevise plan</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <li ng-class="{active: settingsToggle}" >
            <a href="" ng-click="settingsToggle = !settingsToggle"><i class="fi-widget"></i></a>
        </li>
    </ul>
  </section>
</nav>

<div class="settings" ng-class="{settingsVisible: settingsToggle}">
    <div class="row collapse">
        <label class="small-6 large-3 columns">Start Time
            <select ng-model="times.start" ng-options="time for time in selectTimes"></select>
        </label>
        <label class="small-6 large-3 columns">Revision start date
            <button href="" data-dropdown="startDate" id="startDateButton" class="prefix secondary dropButton">
                <span ng-show="!revisionStart"><i class="fi-calendar"></i> Revision start date</span>
                {{revisionStart}}
            </button>
            <datetimepicker data-dropdown-content class="f-dropdown" id="startDate" ng-model="revisionStart" data-datetimepicker-config="{dropdownSelector: '.dropButton'}"></datetimepicker>
            <script type="text/javascript">
                $(document).foundation();
            </script>
        </label>
    </div>
    <div class="row collapse">
        <label class="small-6 large-3 columns">End Time
            <select ng-model="times.end" ng-options="time for time in selectTimes"></select>
        </label>
    </div>
</div>

<fullclndr sr-exams="calendarEvents" sr-date="firstDay" sr-daylen="dayLen" sr-blocking="blocking"></fullclndr>
<div ng-repeat="exam in exams | filter:{blocking:false}" class="row collapse view-exam">
    <div class="small-12 large-6 columns">
        <div class="row collapse">
            <h3 class="small-10 columns">{{ exam.title }}</h3>
            <button class="tiny delete small-2 columns" ng-click="removeExam($index)"><i class="fi-trash small"></i> Delete</button>
        </div>
        <div class="row collapse">
            <div class="small-9 columns">
                <input class="view-exam-slider small-10 small-offset-1 columns" type="range" name="portion" min="0" max="100" ng-model="exam.portion" ng-change="$parent.repartition($index)">
            </div>
            <div class="small-2 columns">
                <input type="text" placeholder="percent" ng-model="exam.portion" ng-change="$parent.repartition($index)">
            </div>
            <div class="small-1 columns">
                <span class="postfix">%</span>
            </div>
        </div>
    </div>
    <div class="small-12 large-5 large-offset-1 columns">
        <div class="view-exam-components">
            <ul class="view-exam-taskList">
                <li ng-repeat="component in exam.components">
                    <input id="{{exam.title}}-{{component.name}}" type="checkbox" ng-model="component.done">
                    <label for="{{exam.title}}-{{component.name}}">
                        <span ng-class="{strike: component.done, red: subtaskDeadline($parent.$index, $index)}">{{component.name}}</span>
                        <a href="" ng-click="deleteComponent($parent.$index, $index)"><i class="fi-trash small"></i></a>
                    </label>
                </li>
            </ul>
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" placeholder="Add task, e.g. sharpen pencils" ng-model="$parent.newComponent">
                </div>
                <div class="small-2 columns">
                    <a href="" ng-click="addComponent($index)" class="postfix">Add</a>
                </div>
            </div>
        </div>
    </div>
</div>
